@charset "uft-8"; 

/*Initialize*/ 
body{margin: 0 calc(100% / 5);color:#000000;}
a{text-decoration: none;color:inherit;}
ul{list-style:none;margin:0;padding:0;}
/*header*/
#header{text-align: center; height: 50px; vertical-align: middle; font-size: 40px; border-bottom: 5px solid black; padding:5px 0;}
/*menu*/
#menu {text-align:center;}
#menu ul {margin:0; padding:0;list-style:none; padding-top: 10px;}
#menu ul li {display: inline-block; font-size: 20px; width: 200px; height: 30px;}
/*contentswarp*/
#contentswrap {height: calc(100vh - 150px); /*border: 1px solid black;*/}
/*departselect*/
#contentswrap #departselect {display:inline-block; position: absolute; height: calc(100vh - 150px);top: 105px; width: 8vw; border: 1px solid black; }
#contentswrap #departselect ul {}
#contentswrap #departselect ul li {margin: 10px 0; font-size: small;}
#contentswrap #departselect .apply {width: 8vw;}
#contentswrap #content {position:absolute; left: calc((100% / 5) + 8vw + 10px); top: 105px;height: calc(100vh - 150px); width: calc((3 * (100% / 5)) - (8vw + 11px)) ;border: 1px solid red;}

